@import '../../../styles/settings.scss';

.cartList {
  list-style: none;
}

.cartList li:nth-child(odd) {
  background-color: $cart-list-list-odd;
}

.button {
  background-color: $submit-btn !important;
  border: none !important;
  width: 220px;
  margin: 5px;

  &:hover {
    background: darken($submit-btn-hover, 10%) !important;
  }
}

.label {
  margin-top: 5px;
}