@import '../../../styles/settings.scss';

.button {
  background-color: $submit-btn !important;
  border: none !important;
  width: 220px;
  margin: 5px;

  &:hover {
    background: darken($submit-btn-hover, 10%) !important;
  }
}