@import '../../../styles/settings.scss'; 

.albumImg {
  height: 300px;
  width: 100%;
}

.albumBox {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.card {
  background-color: $album-summary-card !important;
}

.title {
  height: 50px;
}

.button {
  background-color: $submit-btn !important;
  border: none !important;

  &:hover {
    background: darken($submit-btn-hover, 10%) !important;
  }
}