@import '../styles/settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $global-background-color !important;
  letter-spacing: 0.5px;
}