// Veriable colors
$color-white: #fff;
$color-light: #F2F2F2;
$color-light-grey: #A6A5A4;
$color-grey: #666A73;
$color-light-dark: #262626;
$color-dark: #0B0C0D;

// Global
$global-background-color: $color-light;

// Album Summary
$album-summary-card: $color-white;

// NavBar
$nav-bar-background: $color-grey;

// Album Data List
$album-list: $color-light;

// Number Item
$number-item-btn: $color-grey;
$number-item-btn-char: $color-white;