// Veriable colors
$color-white: #fff;
$color-light: #F2F2F2;
$color-light-grey: #A6A5A4;
$color-grey: #666A73;
$color-light-dark: #262626;
$color-dark: #0B0C0D;

// Global
$background-color: $color-light;

// Card album
$background-color-card: $color-white;

// NavBar
$background-nav: $color-grey;